<div id="container">
  <h1>Welcome to the Foo Bank!</h1>

  <form novalidate class="simple-form">

    <p ng-show="main.error" class="error">{{main.error}}</p>

    <label for="username">Username</label>
    <input type="text" name="username" id="password" ng-model="main.user.username" />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" ng-model="main.user.password">

    <input type="submit" ng-click="main.login(main.user)" value="Login" class="login" />

  </form>
</div>