<div id="container">
  <h1>Make transfer</h1>

  <form novalidate class="simple-form">

    <a href="/dashboard" id="back">&laquo; Back to dashboard</a>

    <p class="success" ng-show="newTransfer.success" id="transfer-success">Your transfer was made</p>
    <p class="error" ng-show="newTransfer.error">There was an error processing your tranfer</p>

    <label for="amount">Transfer amount</label>
    <input type="number" name="amount" id="amount" ng-model="newTransfer.transfer.amount" />

    <label for="to">To account</label>
    <input type="text" name="account" id="account" ng-model="newTransfer.transfer.account" />

    <input type="submit" ng-click="newTransfer.create(newTransfer.transfer)" value="Transfer" class="transfer" />

  </form>
</div>